# ignore the following sub folders
*/downloads
.idea/
out/
**/zoom_meetings

# ignore sftp-config
# *.json

# workspace files
*.sublime-workspace

# ignore the following file types
*.doc
*.docx
*.exe
*.iml
# *.mp4
*.pdf
*.psd
*.tmp
*.txt
*.xls
*.xlsx
*.zip
