# ignore the following sub folders
**/zoom_meetings
*/downloads
.idea/
out/

# ignore sftp-config
# *.json

# workspace files
*.sublime-workspace

# ignore the following file types
# *.mp4
*.doc
*.docx
*.exe
*.iml
*.pdf
*.psd
*.sublime-workspace
*.tmp
*.txt
*.xls
*.xlsx
*.zip
