/*****************************************************************************
 * BASE STYLES -- NO CLASSES OR IDS!!!
 ****************************************************************************/
body {
   font-family: arial;
   font-size: 16px;
   color: #444444;
   margin: 0 auto;
   line-height: 1.25;
   /* keeps the page from jittering when a new game is initialized */
   overflow: scroll;
}

h1, h2, h3, h4, h5, h6, p, a, ul, select, input, button { margin-bottom: 30px; }

h1 { font-size: 2em;}

h2 { font-size: 1.5em; }

h3 { font-size: 1.25em; }

h4, h5, h6, p, a {
   display: inline-block;
   font-size: 1em;
}

p { display: block; }

th, td {
   text-align: center;
   padding: 10px;
   border: 1px solid #cccccc;
   min-width: 125px;
   max-width: 125px;
}

strong { font-weight: bold; }

button,
input[type="text"],
select { height: 2.5em; }

input[type="text"] {
   border: 1px solid #cccccc;
   padding-left: 1em;
}

button,
input[type="button"],
input[type="submit"] {
   color: #ffffff;
   background-color: #444444;
   border: none;
   height: 3em;
   padding-left: 1em;
   padding-right: 1em;
   font-style: italic;
   font-weight: bold;
   transition: color 300ms,
               background-color 300ms;
}

button:hover {
   color: #444444;
   background-color: #fcb017;
}

input[type="radio"] {
   vertical-align: middle;
   margin: 0;
}
