body {
   font-family: arial;
   font-size: 16px;
   color: #444444;
   margin: 0 auto;
   line-height: 1.25;
}

h1, h2, h3, h4, h5, h6, p, a, ul, select, input { margin-bottom: 30px; }
h1 { font-size: 2em;}
h2 { font-size: 1.5em; }
h3, h4, h5, h6, p, a {
   display: inline-block;
   font-size: 1em;
}
p { display: block; }
select, input, button { height: 2.5em; }
input {
   border: 1px solid #cccccc;
   padding-left: 10px;
}

th, td {
   text-align: center;
   padding: 10px;
   border: 1px solid #cccccc;
   min-width: 125px;
   max-width: 125px;
}
