.hide { display: none; }

/* presentation styles */
body {
  width: 720px;
  margin: 0 auto;
}

blockquote {
  margin: 0 0 20px 20px;
  padding-left: 20px;
  border-left: 1px solid #cccccc;
  font-style: italic;
  color: #666666;
}

code {
  font-family: consolas;
  font-size: 12px;
  color: #000000;
  background-color: #cccccc;
  padding: 2px 5px;
  margin: 2px 0 2px 0;
  display: inline-block;
  position: relative;
  border-radius: 5px;
}

blockquote code { font-style: initial; }

/**
 * Gives some space at the bottom of the page.
 * This is not semantic nor best practice, but
 * it's the shortest put to get the job done.
 * OK for the time being.
 */
div.padding-bottom { margin-bottom: 5em; }
