.bg-gray {
   background-color: #cccccc;
}

.margin-top-30 {
   margin-top: 30px;
}

.margin-bottom-30 {
   margin-bottom: 30px;
}

th, td {
   text-align: center;
   padding: 10px;
   border: 1px solid #cccccc;
   min-width: 125px;
   max-width: 125px;
}
